body {
    background: blue;
    background-image: url("../images/top.jpg");
    background-size: cover;
}

h1 {
    color: blue;
    font-size: 60pt;
    background: green;
}

p {
    color: red;
    font-size: 40pt;
    background: lightblue;
}

a {
    background: lightgreen;
}